NODE_ENV=development
PORT=3000

# Local testing
ALLOWED_ORIGINS=http://localhost:5173,https://hoppscotch.io,https://hoppscotch.com

# brapi integration
BRAPI_BASE_URL=https://brapi.dev/api
BRAPI_TOKEN=